{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Вязьма Онлайн{% endblock %}

{% block menu %}
    <div id="left">
        <h2>Каталог товаров</h2>
        <ul>
            {% for item in categories %}
                {% if category == item %}
                    <li>{{ item.name }}</li>
                {% else %}
                    <li><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block breadcrumb %}

{% endblock %}

{% block content %}
    <div class="traders">
        {% for trader in traders %}

            <div class="trader">
                <div class="tlogo">
                    {% thumbnail trader.image '200x200' upscale=False as img %}
                        <a href="{{ trader.get_absolute_url }}"><img src="{{ img.url }}" style="margin: {{ img|margin:'200x200' }}" alt="{{ trader.name }}"/></a>
                    {% endthumbnail %}
                </div>
                <a href="{{ trader.get_absolute_url }}">{{ trader.name }}</a>
            </div>


            {% if forloop.counter|divisibleby:3 or forloop.last %}
                <div class="clr"></div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}

