{% extends 'base.html' %}
{% load thumbnail mptt_tags %}

{% block title %}Вязьма Лэнд{% endblock %}

{% block menu %}
    <div id="left">
        <h2>Каталог товаров</h2>
        <ul>

            {% recursetree categories %}
                <li>
                {% if category == node or product.category == node %}
                    {{ node.name }}
                 {% else %}
                    <a href="{{ node.get_absolute_url }}">{{ node.name }}</a>
                {% endif %}
                    {% if not node.is_leaf_node and category == node or category in node.get_descendants or product.category == node or product.category in node.get_descendants  %}
                        <ul class="children">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
        </ul>
    </div>
{% endblock %}

{% block breadcrumb %}

{% endblock %}

{% block content %}
    <div class="traders">
        {% for trader in traders %}

            <div class="trader">
                <div class="tlogo">
                    {% thumbnail trader.image '200x200' upscale=False as img %}
                        <a href="{{ trader.get_absolute_url }}"><img src="{{ img.url }}" style="margin: {{ img|margin:'200x200' }}" alt="{{ trader.name }}"/></a>
                    {% endthumbnail %}
                </div>
                <a href="{{ trader.get_absolute_url }}">{{ trader.name }}</a>
            </div>


            {% if forloop.counter|divisibleby:3 or forloop.last %}
                <div class="clr"></div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}

