{% extends 'front.html' %}
{% load thumbnail catalog_tags %}

{% block title %}{{ product.name }}{% endblock %}



{% block breadcrumb %}
    <a href="/">Главная</a> /
    {% for ancestor in product.category.get_ancestors %}
        <a href="{{ ancestor.get_absolute_url }}">{{ ancestor.name }}</a> /
    {% endfor %}
    <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a> / {{ product.name }}
{% endblock %}

{% block content %}
    <h1>{{ product.name }}</h1>

    <div class="gallery">
        <div class="image">
            {% for image in product.images.all %}
                <a class="fancy" rel="gallery" href="{{ image.image.url }}">
                {% thumbnail image.image "300x300" upscale=False as img %}
                    <img rel='i-{{ forloop.counter }}' src="{{ img.url }}" style="margin: {{ img|margin:"300x300" }}; {% if not forloop.first %}display: none;{% endif %}"  alt=""/>
                {% endthumbnail %}
                </a>
            {% endfor %}

        </div>
    {% for image in product.images.all %}
        {% thumbnail image.image "x50" upscale=False as img %}
            <a href="#" class="thumb" rel='i-{{ forloop.counter }}'><img  src="{{ img.url }}" alt=""/></a>
        {% endthumbnail %}
    {% endfor %}
    </div>

    <div class="info">
        <div class="price"><strong>Стоимость:</strong> <span>{{ product.unit_price|floatformat:0|price }} руб.</span></div>
        <div class="trader"><strong>Продавец:</strong> <a href="{{ product.trader.get_absolute_url }}">{{ product.trader }}</a> <span>({{ product.trader.region }})</span></div>
        {% if product.size.count %}
            <div class="trader"><strong>Размеры:</strong> {% for item in product.size.all %}{{ item }}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
        {% endif %}
        {% if product.color.count %}
            <div class="trader"><strong>Цвет:</strong> {% for item in product.color.all %}{{ item }}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
        {% endif %}
        {% if product.properties %}
            <div class="trader"><strong>Состав:</strong> {{ product.properties }}</div>
        {% endif %}
        {% if product.producer %}
            <div class="trader"><strong>Производитель:</strong> {{ product.producer }}</div>
        {% endif %}

        <p>{{ product.description }}</p>
    </div>

{% endblock %}

