{% extends 'front.html' %}
{% load thumbnail catalog_tags %}

{% block title %}{{ trader.name }}{% endblock %}



{% block breadcrumb %}
    <a href="/">Главная</a> / {{ object.name }}
{% endblock %}

{% block content %}
    <h1>{{ object.name }}</h1>
    <div class="traders">
    {% for trader in object.traders.all %}

        <div class="trader">
            <div class="tlogo">
                {% thumbnail trader.image '200x200' upscale=False as img %}
                    <a href="{{ trader.get_absolute_url }}"><img src="{{ img.url }}" style="margin: {{ img|margin:'200x200' }}" alt="{{ trader.name }}"/></a>
                {% endthumbnail %}
            </div>
            <a href="{{ trader.get_absolute_url }}">{{ trader.name }}</a>
        </div>


        {% if forloop.counter|divisibleby:3 or forloop.last %}
            <div class="clr"></div>
        {% endif %}
    {% endfor %}
    </div>



    <p>{{ trader.description }}</p>

    <div class="clr"></div>


    <div class="product-list">
    {% for product in trader.products.all %}
        <div class="product">
            <div class="image">
                {% thumbnail product.get_main_image.image '220x230' upscale=False as img %}
                <a href="{{ product.get_absolute_url }}"><img src="{{ img.url }}" style="margin: {{ img|margin:"220x230" }}" alt="{{ product.name }}"/></a>
                {% endthumbnail %}
            </div>
            <a class="name" href="{{ product.get_absolute_url }}">{{ product.name }}</a>

            <div class="price">{{ product.unit_price|floatformat:0|price }} руб.</div>
        </div>
        {% if forloop.counter|divisibleby:3 or forloop.last %}
            <div class="clr"></div>
        {% endif %}
    {% endfor %}
    </div>

{% endblock %}

